h1 {
  color: FireBrick;
  text-align: left;
  border-left: 6px ridge red;
  padding-left: 20px;
  font-family: arial;
  font-size:42px !important;
padding-bottom:1px;
margin:1px;
margin-bottom:-10px;
line-height: 40px; 
}


h2,h3,h4 {
  color: FireBrick;
  text-align: left;
  border-left: 6px ridge red;
  padding-left: 20px;
  font-family: arial;
  font-size:36px !important;
  padding-bottom:0;
  margin:1px;
  margin-bottom:-10px !important;
  line-height: 20px; 
}

body {line-height: .8;}


p{
    padding-top:0;
 font-size:24px;
  margin-top: 1px;
  margin-bottom: 1px
}
/* Unordered lists */

ul {
    padding-top:0;
    font-size:24px;
  margin-top: 1px;
  margin-bottom: 1px
}

/* Ordered lists */

li {
    padding-top:0;
  font-size:24px;
  margin-top: 1px;
  margin-bottom: 1px
}
slide.title-slide {
    background-image: url('environmental_modelling.jpg');
    background-position: center top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 50% 50%;
}